* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// 全局配置

.search-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #000;
}

// 选中紧跟在 .search-form 元素后面的第一个 .base-table 元素，并给它设置 margin-top: 20px。
.search-form + .base-table {
  margin-top: 20px;
}

.base-table {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    .action button {
      margin-left: 15px;
    }
  }
}

// 公共样式
.mr10 {
  margin-right: 10px;
}
